body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(100deg, #7d6196, #7ff0d7);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

h1 {
    background-color: rgba(127, 240, 215, 0.7);
    padding: 20px 50px; 
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    animation: pulse 2s infinite;
    font-size: 1.2em;
}

p {
    padding: 20px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.5em; 
    max-width: 60%; 
    text-align: center; 
}
